@model Product
@{
var product = ViewData["Product"] as Product;
bool isEditing = ViewData["IsEditing"] != null && (bool)ViewData["IsEditing"];
}
<head>
   <link rel="stylesheet" href="~/css/accountRL.css" />
</head>
<div class="panel-container">
   <div class="main-block">
      <h1>Manage Product</h1>
     
      <form id="register" method="post" asp-action="@{ if(isEditing) { <text>EditProduct</text> } else { <text>AddProduct</text> } }">
         <hr />
         @if (isEditing)
         {
            <input type="hidden" name="productId" value="@Model.Id" />
         }
         <div class="form-group row">
            <label for="productName">Product Name</label>
            <div class="col-sm-12">
               <input type="text"
               name="ProductName"
               id="ProductName"
               required
               class="form-control"
               value="@((Model != null) ? Model.ProductName : "")"
               />
               @if (!string.IsNullOrEmpty(ViewBag.Error))
               {
               <p class="error_msg">
                  Product name already exists!
               </p>
               }
            </div>
         </div>
         <div class="form-group row">
            <label for="imageURL">Image URL</label>
            <div class="col-sm-12">
               <input type="text"
               name="ImageURL"
               id="ImageURL"
               required
               class="form-control"
               value="@((Model != null) ? Model.ImageURL : "")"
               />
            </div>
            <div id="imagePreviewContainer"></div>
         </div>
         <div class="form-group row">
            <label for="price">Price</label>
            <div class="col-sm-12">
               <input type="number"
               name="Price"
               id="Price"
               step="0.01"
               required
               class="form-control"
               value="@((Model != null) ? Model.Price : "0.0")"
               />
            </div>
         </div>
         <div class="form-group row">
            <label for="Category">Category</label>
            <div class="col-sm-12">
               <select class="form-control"
                  required
                  name="Category"
                  id="Category">
                  <optgroup label="Category">
                     <option value="">-- Select an option --</option>

                     @foreach(var category in ViewData["Categories"] as List<Category>)
                     {
                         if (Model != null && category.Name == Model.Category)
                         {
                            <option value="@category.Name" selected>@category.Name</option>
                         }
                         else
                         {
                             <option value="@category.Name">@category.Name</option>
                         }
                     }
                  </optgroup>
               </select>
            </div>
         </div>
         <div class="form-group row">
            <label for="description">Description</label>
            <div class="col-sm-12">
               <textarea class="form-control"
                  required
                  name="Description"
                  id="Description">@((Model != null) ? Model.Description : "")</textarea>
            </div>
         </div>
         <hr />
         <div style="padding: 10px;justify-content: center;display: flex;gap:
            10px;">

            @if(!isEditing){
            <button
               type="submit"
               class="btn btn-success">
            Add item 
            </button>
            }else{
            <button
               type="submit"
               class="btn btn-warning">
            Edit item
            </button>
            }
            <a href="/admin"
               style="color: #fff;
               background-color: #dc3545;
               border-color: #dc3545;
               text-decoration: none;
               padding: 0.375rem 0.75rem;">
            Cancel
            </a>
         </div>
      </form>
   </div>
</div>
<script>
   var imageUrlInput = $("#ImageURL")[0];
   var imagePreviewContainer = document.getElementById("imagePreviewContainer");
   
   imageUrlInput.addEventListener("change", displayImg);

   @if (Model != null){
        @:displayImg();
    }

   function displayImg(){
     var imageUrl = imageUrlInput.value;
     if (imageUrl) {
       var imageElement = document.createElement("img");
       imageElement.setAttribute("src", imageUrl);
       imageElement.setAttribute("alt", "Invalid image");
       imagePreviewContainer.innerHTML = "";
       imageElement.style.maxWidth = "100%";
       imagePreviewContainer.appendChild(imageElement);
     } else {
       imagePreviewContainer.innerHTML = "";
     }
   }
   
   const form = document.getElementById("register");
   const select = form.querySelector("select");
   
   form.addEventListener("submit", (e) => {
     if (select.value === "") {
       e.preventDefault();
       alert("Please select a category.");
     }
   });
</script>